
.vagrant/bundler/global.sol
.vagrant/machines/m242-grafana/virtualbox/action_provision
.vagrant/machines/m242-grafana/virtualbox/action_set_name
.vagrant/machines/m242-grafana/virtualbox/box_meta
.vagrant/machines/m242-grafana/virtualbox/creator_uid
.vagrant/machines/m242-grafana/virtualbox/id
.vagrant/machines/m242-grafana/virtualbox/index_uuid
.vagrant/machines/m242-grafana/virtualbox/private_key
.vagrant/machines/m242-grafana/virtualbox/synced_folders
.vagrant/machines/m242-grafana/virtualbox/vagrant_cwd
.vagrant/machines/m242-mosquitto/virtualbox/action_provision
.vagrant/machines/m242-mosquitto/virtualbox/action_set_name
.vagrant/machines/m242-mosquitto/virtualbox/box_meta
.vagrant/machines/m242-mosquitto/virtualbox/creator_uid
.vagrant/machines/m242-mosquitto/virtualbox/id
.vagrant/machines/m242-mosquitto/virtualbox/index_uuid
.vagrant/machines/m242-mosquitto/virtualbox/private_key
.vagrant/machines/m242-mosquitto/virtualbox/synced_folders
.vagrant/machines/m242-mosquitto/virtualbox/vagrant_cwd
.vagrant/machines/m242-mysql/virtualbox/action_provision
.vagrant/machines/m242-mysql/virtualbox/action_set_name
.vagrant/machines/m242-mysql/virtualbox/box_meta
.vagrant/machines/m242-mysql/virtualbox/creator_uid
.vagrant/machines/m242-mysql/virtualbox/id
.vagrant/machines/m242-mysql/virtualbox/index_uuid
.vagrant/machines/m242-mysql/virtualbox/private_key
.vagrant/machines/m242-mysql/virtualbox/synced_folders
.vagrant/machines/m242-mysql/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
